{
    "extends": [
        "airbnb",
        "prettier"
    ],
    "overrides": [
        {
            "files": ["*"],
            "rules": {
                "no-console": "off"
            }
        }
    ]
}